<p id="notice"><%= notice %></p>

<p>
  <h2><%= @physician.name %></h2>
</p>

<p>
  <h3><strong>Specialty:</strong>
  <%= @physician.specialty %></h3>
</p>

<p id="p1">
  <h3>Office Locations</h3>
</p>

<br><table id="table">                         
  <tr>                          
    <th>Street Address</th>
    <th>Zip Code</th>
    <th>Phone</th>
  </tr>
    <% @physician.offices.each do |office| %>
  <tr>
    <td><%= office.street_address %></td>
    <td><%= office.zip %></td>
    <td><%= office.phone_num %></td>
  </tr>
<% end %>
</table><br>

<p>
  <h3>Current Appointments</h3>
</p>

<br><table id="table">                         
  <tr>                          
    <th>Patient Name</th>
    <th>Date of Appointment</th>
  </tr>
    <% @physician.appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.patient.name %></td>
    <td><%= appointment.visit_date_time.to_s(:long_ordinal) %></td>
  </tr>
<% end %>
</table><br>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
